<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			*{
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 50px;
				text-align: center;
			}
			.main{
				height: 300px;
				width:1200px;
				background: pink;
				display: flex;
				margin: auto;
				margin-top: 100px;
			}
			.a{
				background: #000000;
				float: left;
				flex: 1;
			}
			.a:hover{
				flex: 2;
				background: #FFFFFF;
				transition:all 0.5s; 
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="a">董</div>
			<div class="a">建</div>
			<div class="a">飞</div>
			<div class="a">大</div>
			<div class="a">傻</div>
			<div class="a">子</div>
		</div>
	</body>
</html>
